doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .container
            #canvasContainer.col-xs-12.col-sm-12.col-md-12.col-lg-12
                canvas#myConvas
                #infoBlock
                    div Area: ~
                        span#areaInfoFild
        #convasContextMenu
            #mode Mode
                #selectOn Selection mode
                #selectOf Creation mode
            #type Type
                #setTypeRect Rect
                #setTypeCircle Circle
                #setTypeTriangle Triangle
            #typeJumper Type jumper
                #setTypeJumperRect Rect
                #setTypeJumperCircle Circle
                #setTypeJumperTriangle Triangle
        #convasElContextMenu
            #group Group
            #ungroup Ungroup
            #heightEl Height:
                input#heightElInput(size='2')
            #widthEl Width:
                input#widthElInput(size='2')
            #remove Delete
        #cursor
        #snackbar Some text some message..
        link(href='./style.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        script(src='./fabric.min.js')
        script(src='./script.js')

