* {
    /*cursor: none !important;*/
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#cursor {
    position: absolute;
    background: url(arrow.png) no-repeat;
    width: 25px;
    height: 25px;
    pointer-events: none;
    background-size: contain;
    z-index: 9999;
}

#canvasContainer {
    background-color: #f2f2ce;
    position: relative;
    overflow: hidden;
    padding: 0
}
#canvasContainer, #canvasContainer *, #convasContextMenu * , #convasElContextMenu *{
    cursor: none !important;
}
#convasContextMenu input, #convasElContextMenu input {
    margin-top: -1px;
    border: 0;
}
#myConvas {
    width: 100%;
    height: 100%;
    background: lightgray;
    display: block;
    margin: auto;
    background-color: transparent;
    /*background-image: linear-gradient(0deg, transparent 24%, #95a5a6 25%, #95a5a6 26%, transparent 27%, transparent 74%, #95a5a6 75%, #95a5a6 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, #95a5a6 25%, #95a5a6 26%, transparent 27%, transparent 74%, #95a5a6 75%, #95a5a6 76%, transparent 77%, transparent);
    background-size: 50px 50px;*/
}

#convasContextMenu {
    position: absolute;
    top: 400px;
    left: 0;
    /*left: calc(100% - 200px);*/
    z-index: 9999;
    background: white;
    display: none;
}

#convasElContextMenu {
    position: absolute;
    top: 0;
    left: 0;
    left: calc(100% - 200px);
    z-index: 9999;
    background: white;
    display: none;
}

#convasContextMenu > div, #convasElContextMenu > div {
    padding: 5px 10px;
    display: block;
    border: 1px solid #c87114;
    margin-bottom: -1px;
    transition-duration: .5s;
}

#convasContextMenu > div:hover, #convasElContextMenu > div:hover {
    background: #fdddb7;
}

#convasElContextMenu input {
    text-align: right;
    float: right;
    margin-left: 5px;
    text-align: center
}

#infoBlock {
    opacity: .8;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 9999;
    width: 200px;
    padding: 20px;
    background: white;
    border: 1px solid black;
}